@tailwind base;
@tailwind components;
@tailwind utilities;
/* Slim Scrollbar */
.scroll-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    padding-right: 2px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: #2E2E2E; /* Track color */
    
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #A6A6A6; 
    border-radius: 10px;
  }

/* Hide Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
